<div class="menu-panel">
  <div class="menu-header">
    <img
      class="image"
      src="../../assets/images/menu-bar/menu-bar header icon.png"
    />
    <div class="menu_header_text">Pomo & co</div>
  </div>
  <div class="menu_items">
    <div class="menu_item active_item">
      <div class="menu-icon">
        <img
          class="menu_icon_size"
          src="../../assets/images/menu-bar/settings-48-gray.png"
        />
      </div>
      <div class="menu_item_name" (click)="goToHome()">Home</div>
    </div>
    <div class="menu_item">
      <div class="menu-icon">
        <img
          class="menu_icon_size"
          src="../../assets/images/menu-bar/settings-48-gray.png"
        />
      </div>
      <div class="menu_item_name">Orders</div>
    </div>
    <div class="menu_item">
      <div class="menu-icon">
        <img
          class="menu_icon_size"
          src="../../assets/images/menu-bar/settings-48-gray.png"
        />
      </div>
      <div class="menu_item_name">Notification</div>
      <div class="menu_notification">1</div>
    </div>
    <div class="menu_item">
      <div class="menu-icon">
        <img
          class="menu_icon_size"
          src="../../assets/images/menu-bar/settings-48-gray.png"
        />
      </div>
      <div class="menu_item_name">Help & Support</div>
    </div>
    <div class="menu_item">
      <div class="menu-icon">
        <img
          class="menu_icon_size"
          src="../../assets/images/menu-bar/settings-48-gray.png"
        />
      </div>
      <div class="menu_item_name">Settings</div>
    </div>
  </div>
  <!-- <div class="test_div"></div>
  <div class="test_div"></div> -->
  <div class="menu_order_Status">
    <div class="overlay-1">
      <span
        ><img class="cross_icon" src="../../assets/images/menu-bar/cross.png"
      /></span>
      <div class="time_icon_container">
        <img
          class="time_icon"
          src="../../assets/images/menu-bar/icons8-clock-96.png"
        />
      </div>
      <div class="order_status">Your order is now Ready</div>
      <div class="order_details">
        <div class="ordered_item">Splint Doumo</div>
        <div class="order_id">Order Id: #ED564F</div>
      </div>
      <div class="details_btn">
        <div class="details_btn_text">Details</div>
        <div class="details_btn_icon">
          <img
            class="arrow_icon"
            src="../../assets/images/menu-bar/right arrow Icon.png"
          />
        </div>
      </div>
    </div>
    <div class="overlay-2"></div>
    <div class="overlay-3"></div>
  </div>
  <div class="user_details">
    <div class="user_details_only">
      <div class="user_name">Mark Clarke</div>
      <div class="user_email">markclarke@gmail.com</div>
    </div>
    <div class="arrows_div">
      <img
        class="arrow_up"
        src="../../assets/images/menu-bar/arrow up icon.png"
      />
      <img
        class="arrow_down"
        src="../../assets/images/menu-bar/arrow down icon.png"
      />
    </div>
  </div>
</div>
